<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrk.dao.TbRegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rrk.entity.TbRegion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pid" property="pid" />
        <result column="sname" property="sname" />
        <result column="level" property="level" />
        <result column="citycode" property="citycode" />
        <result column="yzcode" property="yzcode" />
        <result column="mername" property="mername" />
        <result column="Lng" property="Lng" />
        <result column="Lat" property="Lat" />
        <result column="pinyin" property="pinyin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, pid, sname, level, citycode, yzcode, mername, Lng, Lat, pinyin
    </sql>

</mapper>
